*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card{
  align-items: center;
  padding: 20px;
  margin: 130px;
  background-color: #e6baff6b;
  border: 2px solid #b9abc79e;
}

.totalNumber{
  background-color: #5e6f91;
  color: aliceblue;
  border-radius: 30px;
  padding: 10px 23px;
  font-size: 15px;
}

.selectedNumber{
  background-color: #ddc747;
  color: aliceblue;
  border-radius: 6px;
  padding: 11px 10px;
  font-size: 15px;
  width: 55px;

}

.buttons button{
  border-radius: 6px;
    color: white;
    font-size: 16px;
}

.controlBtn {
  padding: 5px 10px;
  margin: 0 3px;
  border-radius: 6px;
}
.fa-cart-shopping{
  font-size: 20px;
}


@media only screen and (max-width: 600px) {
  .card {
    margin: 130px 0;

  }
}


/* ------------------------------------------- */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
